@import "tailwindcss";

@theme {
  --color-brand-50: #f8fafc;
  --color-brand-100: #f1f5f9;
  --color-brand-500: #3b82f6; /* Blue shield */
  --color-brand-600: #2563eb;
  
  --color-pastel-bg: #faf9f6; /* Kem sữa */
  --color-pastel-accent: #fcd34d; /* Vàng kim */
  
  --color-background: var(--pastel-bg);
  --color-foreground: #1a1a1a;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
  --radius-full: 9999px;
}

:root {
  --background: #faf9f6;
  --foreground: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
